<!--Author: Bryce, Ella, Alaina, Rex-->
<!--Description: Admin Add Volunteer to Database Page-->
<!DOCTYPE html>
<html>
<head>
  <title>Add Volunteer</title>
  <style>
    /* Specific styling for the page */
    form {
      width: 50%;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #F9F9F9;
      font-size: 12px;
    }
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    input, select, button {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    input[type="checkbox"], input[type="radio"] {
      width: auto;
      margin-right: 5px;
    }
    button {
      background-color: #112d4e;
      color: white;
      font-size: 12px;
      cursor: pointer;
    }
    button:hover {
      background-color: #4571a0;
    }
        button {
      background-color: #112d4e;
      color: white;
      font-size: 12px;
      cursor: pointer;
    }
    button:hover {
      background-color: #4571a0;
    }
  </style>
</head>
<body>
  <h1 style="text-align: center;">Add Volunteer</h1>
  <form action="/addVolunteer" method="POST">
    <!-- Volunteer First and Last Name -->
    <label for="vol_first_name">First Name</label>
    <input type="text" id="vol_first_name" name="vol_first_name" value="" required oninput="this.value = this.value.toUpperCase()">
    <label for="vol_last_name">Last Name</label>
    <input type="text" id="vol_last_name" name="vol_last_name" value="" required oninput="this.value = this.value.toUpperCase()">
    <!-- Email -->
    <label for="vol_email">Email</label>
    <input type="text" id="vol_email" name="vol_email" value="" required oninput="this.value = this.value.toUpperCase()">
    <!-- Phone -->
    <label for="vol_phone">Phone Number</label>
    <input type="text" id="vol_phone" name="vol_phone" value="" required>
    <!-- Address -->
    <label for="vol_address">Street Address</label>
    <input type="text" id="vol_address" name="vol_address" value="" required oninput="this.value = this.value.toUpperCase()">
    
    <label for="vol_city">City</label>
    <input type="text" id="vol_city" name="vol_city" value="" required oninput="this.value = this.value.toUpperCase()">

    <label for="vol_state">State</label>
    <input type="text" id="vol_state" name="vol_state" value="" required oninput="this.value = this.value.toUpperCase()">

    <label for="vol_zipcode">Zipcode</label>
    <input type="number" id="vol_zipcode" name="vol_zipcode">

    <!-- Sewing Level -->
    <label for="vol_sewing_level">Sewing Level</label>
    <select id="vol_sewing_level" name="vol_sewing_level">
        <option value="NONE">NONE</option>
        <option value="BEGINNER">BEGINNER</option>
        <option value="INTERMEDIATE">INTERMEDIATE</option>
        <option value="EXPERT">EXPERT</option>
    </select>

    <!-- Available Hours -->
    <label for="vol_available_monthly_hours">Available Monthly Hours</label>
    <input type="number" name="vol_available_monthly_hours" id="vol_available_monthly_hours" value="">

    <!-- Finding Source -->
    <label for="vol_finding_source">Finding Source</label>
    <select id="vol_finding_source" name="vol_finding_source">
      <% finding_source.forEach(type => { %>
        <option value="<%= type.source_id %>" >
          <%= type.source_type %>
        </option>
      <% }) %>
    </select>

    <!-- Submit Button -->
    <button type="submit">Save Changes</button>
  </form>
  <form action="/volunteer">
    <button type="submit">Back to Volunteers</button>    
  </form>
</body>
</html>