<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    DONATE
    <form action="/" method="get">
        <button type="submit">LANDING PAGE</button>
    </form>
    <form action="/jensStory" method="get">
        <button type="submit">JEN'S STORY</button>
    </form>
    <form action="/eventForm" method="get">
        <button type="submit">EVENT FORM</button>
    </form>
    <form action="/volunteerForm" method="get">
        <button type="submit">VOLUNTEER FORM</button>
    </form>
    <form action="/help" method="get">
        <button type="submit">HOW YOU CAN HELP</button>
    </form>
    <form action="/donate" method="get">
        <button type="submit">DONATE</button>
    </form>
    <form action="/login" method="get">
        <button type="submit">LOGIN</button>
    </form>
</body>
</html>